{% load static %} 
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
 <!-- Certifique-se de que o CSS está no caminho correto -->
    <title>Confirmar Exclusão</title>
</head>
<body>
    <div class="container">
        <h1>Confirmar Exclusão</h1>
        <p>Você tem certeza de que deseja excluir o dever de casa: <strong>{{ cal.dever }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'dever_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
