<!-- lista.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Lista de Turmas</h1>
<!-- Bloco para exibir mensagens -->

<p><a href="{% url 'cal:cria_turma' %}" class="btn btn-primary">Cadastrar Nova Turma</a></p>
<p><a href="{% url 'cal:listar_horarios' %}" class="btn btn-info">Ver Todos os Horários</a></p>
<p><a href="{% url 'cal:semana_geral' %}" class="btn btn-primary"><i class="fas fa-calendar-week"></i> Ver Semana Geral</a></p>
<p><a href="{% url 'cal:gerar_pdf_todas_turmas' %}" class="btn btn-danger"><i class="fas fa-file-pdf"></i> Gerar PDF de Todas as Turmas</a>
<p>Clique no botão abaixo para baixar um arquivo .zip contendo o relatório semanal em PDF de todas as turmas ativas.</p>
    <a href="{% url 'cal:gerar_relatorios_zip' %}" class="btn btn-primary">
        <i class="bi bi-file-earmark-zip-fill"></i> Baixar Relatórios de Todas as Turmas
    </a>


<table class="table">
    <thead>
        <tr>
            <th>Nome das Turmas</th>
            <th>Escola</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for turma in turmas %}
            <tr>
                <td>{{ turma.turma }}</td>
                <td>{{ turma.fk_escola.nome_escola }}</td>
                <td>
                    <a href="{% url 'cal:semana_completa' turma.pk %}" class="btn btn-success">
                        <i class="fas fa-calendar-week"></i> Ver Semana
                    </a>
                    <a href="{% url 'cal:listar_horarios_turma' turma.pk %}" class="btn btn-info">
                        <i class="fas fa-calendar"></i> Ver Horários
                    </a>
                    <a href="{% url 'cal:atualiza_turma' turma.pk %}" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a href="{% url 'cal:deleta_turma' turma.pk %}" class="btn btn-danger" 
                    onclick="return confirm('Tem certeza que deseja deletar {{ turma.turma }}? Esta ação é irreversível!');">
                        <i class="fas fa-trash-alt"></i> Deletar
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Nenhuma turma com horários cadastrada.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}