{% extends 'base.html' %} <!-- Se tiver um template base -->

{% block content %}
<h1>Lista de Professors</h1>
<!-- Bloco para exibir mensagens -->

<p><a href="{% url 'cal:cria_professor' %}" class="btn btn-primary">Cadastrar Novo Professores</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Nome dos Professores</th>
            <th>Matéria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for professor in professores %}
            <tr>
                <td>{{ professor.nome_professor }}</td>
                <td>{{ professor.fk_materia.nome_materia }}</td>
                <td>
                    <a href="{% url 'cal:atualiza_professor' professor.pk %}" class="btn btn-warning"> <i class="fas fa-edit"></i>Editar</a>
                    <a href="{% url 'cal:deleta_professor' professor.pk %}" class="btn btn-danger" 
                    onclick="return confirm('Tem certeza que deseja deletar {{ professor.nome_professor }}? Esta ação é irreversível!');">
                    <i class="fas fa-trash-alt"></i> Deletar
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">Nenhuma professor cadastrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

  
{% endblock %}

