{% extends 'base.html' %}
{% block content %}
<h1>Lista de Escolas</h1>
<p></p>
<p>
    <a href="{% url 'cal:cria_escolas' %}" class="btn btn-primary">Cadastrar Nova Escola</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Nome da Escola</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for escola in escolas %}
            <tr>
                <td>{{ escola.nome_escola }}</td>
                <td>
                    <a href="{% url 'cal:atualiza_escolas' escola.pk %}" class="btn btn-warning"> <i class="fas fa-edit"></i>Editar</a>
                    <a href="{% url 'cal:deleta_escolas' escola.pk %}"                  class="btn btn-danger" 
                    onclick="return confirm('Tem certeza que deseja deletar {{ escola.nome_escola }}? Esta ação é irreversível!');">
                    <i class="fas fa-trash-alt"></i> Deletar
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">Nenhuma escola cadastrada.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

  
{% endblock %}

